force-app/main/default/flows/Abandoned_Draft_Carts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Abandoned_Cart_notification_to_Customer</name>
        <label>Abandoned Cart notification to Customer</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>Cart__c.Abandoned_cart_notification_to_customer</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Cart_Created_Date_Equal_Yesterday</name>
        <label>Is Cart Created Date Equal Yesterday</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Yesterday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yesterday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_Abandoned_True</targetReference>
            </connector>
            <label>Yes = Yesterday</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>yesterday</name>
        <dataType>Date</dataType>
        <expression>TODAY() -1</expression>
    </formulas>
    <interviewLabel>Abandoned Draft Carts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Abandoned Draft Carts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Is_Abandoned_True</name>
        <label>Set Is Abandoned=True</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <connector>
            <targetReference>Abandoned_Cart_notification_to_Customer</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Abandoned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Cart_Created_Date_Equal_Yesterday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Abandoned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <object>Cart__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-31</startDate>
            <startTime>16:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
