force-app/main/default/flows/Cart.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>424</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>OrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Cart_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Order_Item</name>
        <label>Create Order Item</label>
        <locationX>424</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>OrderItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Cart_Items.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Cart_Items.Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Cart_Items.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.VAT_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Cart_Items.VAT_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Present_Assignment</name>
        <label>Present Assignment</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>cartNotPresentOrWithoutCartItems</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cart</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Anything_to_delete_decision</name>
        <label>Anything to delete?</label>
        <locationX>336</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Get_Updated_Cart_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Anything_to_delete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_0_records</targetReference>
            </connector>
            <label>Yes delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cart_Items_Present</name>
        <label>Cart Items Present</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Cart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cart_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Present_Assignment</targetReference>
            </connector>
            <label>Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Cart_Present</name>
        <label>Is Cart Present</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Cart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Draft_Cart_Id.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cart_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Cart {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Cart</label>
    <loops>
        <name>Iterate_Cart_Items</name>
        <label>Iterate Cart Items</label>
        <locationX>336</locationX>
        <locationY>2114</locationY>
        <collectionReference>Get_Updated_Cart_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PricebookEntry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Order_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create</name>
        <label>Create Order</label>
        <locationX>336</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Iterate_Cart_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contact.Customer_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillToContactId</field>
            <value>
                <elementReference>Get_Contact.Customer_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Billing_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>Billing_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>Billing_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Billing_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShipToContactId</field>
            <value>
                <elementReference>Get_Contact.Customer_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>Shipping_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>Shipping_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>Shipping_Zip_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>Shipping_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_Order_Items</name>
        <label>Insert Order Items</label>
        <locationX>336</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Cart_Update</targetReference>
        </connector>
        <inputReference>OrderItems</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_0_records</name>
        <label>Delete 0 quantity</label>
        <locationX>204</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Get_Updated_Cart_Items</targetReference>
        </connector>
        <inputReference>Anything_to_delete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Anything_to_delete</name>
        <label>Anything to delete</label>
        <locationX>336</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Anything_to_delete_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cart_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>336</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Customer_Contact__r.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cart_Items</name>
        <label>Get Cart Items</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cart_Items_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Draft_Cart_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cart_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>336</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Draft_Cart_Id</name>
        <label>Get Draft Cart Id</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Cart_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>336</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Cart_Items</name>
        <label>Get Updated Cart Items</label>
        <locationX>336</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Draft_Cart_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cart_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PricebookEntry</name>
        <label>PriceBookEntry</label>
        <locationX>424</locationX>
        <locationY>2222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Order_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Iterate_Cart_Items.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Pricebook.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cart_Update</name>
        <label>Cart Update</label>
        <locationX>336</locationX>
        <locationY>2738</locationY>
        <connector>
            <targetReference>Thank_You</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Draft_Cart_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </inputAssignments>
        <object>Cart__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>336</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Anything_to_delete</targetReference>
        </connector>
        <inputReference>Cart_Line_Items_In_Cart.outputEditedRows</inputReference>
    </recordUpdates>
    <screens>
        <name>Cart</name>
        <label>Cart</label>
        <locationX>336</locationX>
        <locationY>842</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
        <fields>
            <name>CartIsEmpty</name>
            <fieldText>&lt;p&gt;Cart is empty.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cartNotPresentOrWithoutCartItems</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Set_0_quantity</name>
            <fieldText>&lt;p&gt;To delete items from cart set quantity to 0.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cartNotPresentOrWithoutCartItems</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cart_Line_Items_In_Cart</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cart_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Quantity__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Product_Name_Formula__c,Quantity__c,Unit_Price__c,Total_Gross_Price__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Product_Name_Formula__c:252, Quantity__c:252, Unit_Price__c:252, Total_Gross_Price__c:252</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cart_Line_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cart_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideClearSelectionButton</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideClearSelectionButton</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>cartNotPresentOrWithoutCartItems</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Checkout</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>336</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
        <fields>
            <name>Address</name>
            <fieldText>Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Customer_Account__r.BillingStreet</elementReference>
                    </defaultValue>
                    <fieldText>Billing Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Customer_Account__r.BillingCity</elementReference>
                    </defaultValue>
                    <fieldText>Billing City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Zip_Postal_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Customer_Account__r.BillingPostalCode</elementReference>
                    </defaultValue>
                    <fieldText>Billing Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Country</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Customer_Account__r.BillingCountry</elementReference>
                    </defaultValue>
                    <fieldText>Billing Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shipping_Street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Customer_Account__r.ShippingStreet</elementReference>
                    </defaultValue>
                    <fieldText>Shipping Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Shipping_City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Customer_Account__r.ShippingCity</elementReference>
                    </defaultValue>
                    <fieldText>Shipping City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Shipping_Zip_Postal_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Customer_Account__r.ShippingPostalCode</elementReference>
                    </defaultValue>
                    <fieldText>Shipping Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Shipping_Country</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Account.Customer_Account__r.ShippingCountry</elementReference>
                    </defaultValue>
                    <fieldText>Shipping Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>CartSummary</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cart_Line_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Updated_Cart_Items</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Product_Name_Formula__c&quot;,&quot;guid&quot;:&quot;column-0b8b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Product&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Name Formula&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Quantity__c&quot;,&quot;guid&quot;:&quot;column-89dd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Unit_Price__c&quot;,&quot;guid&quot;:&quot;column-b4d7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Total_Gross_Price__c&quot;,&quot;guid&quot;:&quot;column-558b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Gross Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_You</name>
        <label>Thank You</label>
        <locationX>336</locationX>
        <locationY>2846</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Thank you for your order, we will get back to you as soon as possible to fullfil your order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Draft_Cart_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cartNotPresentOrWithoutCartItems</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
</Flow>
