force-app/main/default/flows/Screen_Flow_Cart_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Draft_CartId_From_Existing_Cart</name>
        <label>Set Draft CartId From Existing Cart</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>darftcartId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Draft_Cart.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cart_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quantity_To_1</name>
        <label>Set Quantity To 1</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>wasInCartAlready</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quantity_To_11</name>
        <label>Set Quantity To 1</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_variables</name>
        <label>Set variables</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>wasInCartAlready</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cart_Item.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cart</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Or_Update</name>
        <label>Create Or Update</label>
        <locationX>380</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>Update_Cart_Item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>wasInCartAlready</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cart_Item</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Draft_Cart_Present</name>
        <label>Is Draft Cart Present</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Draft_Cart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Draft_CartId_From_Existing_Cart</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_In_Cart_Already</name>
        <label>Was In Cart Already</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_Quantity_To_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Was_In_Cart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cart_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_variables</targetReference>
            </connector>
            <label>Yes Was In Cart</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Price</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cart_Item</name>
        <label>Create Cart Item</label>
        <locationX>248</locationX>
        <locationY>1490</locationY>
        <inputAssignments>
            <field>Cart__c</field>
            <value>
                <elementReference>darftcartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>recordIdtext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity_in_cart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>Get_Standard_Price_Book_Entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Rate__c</field>
            <value>
                <elementReference>recordId.Default_VAT_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cart_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Draft_Cart</name>
        <label>Create Draft Cart</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>darftcartId</assignRecordIdToReference>
        <connector>
            <targetReference>Set_Quantity_To_11</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_Account__c</field>
            <value>
                <elementReference>Get_Contact.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Contact__c</field>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Cart__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Cart_Item</name>
        <label>Get Cart Item</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_In_Cart_Already</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordIdtext</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>darftcartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Draft_Cart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Draft_Cart</name>
        <label>Get Draft Cart</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Draft_Cart_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Customer_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Details</name>
        <label>Get Product Details</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Draft_Cart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordIdtext</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_Book_Entry</name>
        <label>Get Standard Price Book Entry</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordIdtext</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Standard_Price_Book_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Price_Book_Id</name>
        <label>Get Standard Price Book Id</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Price_Book_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cart_Item</name>
        <label>Update Cart Item</label>
        <locationX>512</locationX>
        <locationY>1490</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cart_Item.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Quantity_in_cart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>Get_Standard_Price_Book_Entry.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VAT_Rate__c</field>
            <value>
                <elementReference>recordId.Default_VAT_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cart_Line_Item__c</object>
    </recordUpdates>
    <screens>
        <description>Price: {!Get_Standard_Price_Book_Entry.UnitPrice}</description>
        <name>Cart</name>
        <label>Cart</label>
        <locationX>380</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Or_Update</targetReference>
        </connector>
        <fields>
            <name>Price_book_entry</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Price: &lt;/strong&gt;{!Get_Standard_Price_Book_Entry.UnitPrice} zł&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Items_in_cart</name>
            <fieldText>&lt;p&gt;Item(s) in cart:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Was_In_Cart</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Quantity_in_cart</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Quantity</elementReference>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Update Cart</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Standard_Price_Book_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>darftcartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>draftCart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Cart__c</objectType>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordIdtext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wasInCartAlready</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
